/*------------------------------------*\
  SETTINGS - GRID
\*------------------------------------*/

/*------------------------------------*\
  andculture-scss-grid overrides
\*------------------------------------*/

$no-gutter-grid: (
    columns: 12,
    gutter: 0px,
);
