/*------------------------------------*\
  SETTINGS - GRID
\*------------------------------------*/

/*------------------------------------*\
  andculture.scss.rhythm overrides
\*------------------------------------*/

$no-gutter-grid: (
    columns: 12,
    gutter: 0px,
);
