/**
 * Border Radii
 */

$border-radius-small: 5px;
$border-radius-medium: 9px;
$border-radius-large: 32px;
$border-radius-huge: 100px;

/**
 * Spacing
 */
$space-xs: 8px;
$space-s: 16px;
$space-m: 24px;
$space-l: 32px;
$space-xl: 48px;
