.c-collapse-panel {
    @include padding(24px, 32px, 24px, 64px);
    position: relative;

    &__content {
        max-height: 0;
        transition: max-height 0.15s ease-out;
        overflow: hidden;
    }
    &__accordion {
        display: none;
        transition: display 0.25 ease-out;
    }

    &__heading {
        cursor: pointer;
    }

    > .c-button {
        position: absolute;
        background: initial;
        top: 24px;
        left: 16px;
    }
    &.-expanded {
        .c-collapse-panel__content {
            @include margin-top(24px);
            max-height: 999999px;
            transition: max-height 0.25s ease-in;
        }
        .c-collapse-panel__accordion {
            display: block;
            transition: display 0.25 ease-in;
        }
    }
}
